Análise exploratória de dados de crédito.

Base de dados retirada do Kaggle (www.kaggle.com/laotse/credit-risk-dataset)

In [64]:
import pandas as pd

In [65]:
import numpy as np

In [66]:
dados = pd.read_csv('/content/credit_data.csv', sep=',', encoding = 'iso-8859-1')

In [ ]:
dados

In [68]:
dados.shape

(2000, 5)

In [ ]:
dados.dtypes

In [ ]:
dados.describe()

In [ ]:
dados.isnull().sum()

In [ ]:
dados.head()

In [73]:
dados_credito = dados.rename (columns = {'clientid': 'cliente', 'income':'renda', 'age': 'idade', 'loan': 'divida', 'default': 'inadimplencia'})

In [ ]:
dados_credito.head()

In [ ]:
# Existem dados inconsistentes, como os dados relacionados à idade que são valores negativos.
dados_credito.describe()

In [ ]:
dados_credito[dados_credito['idade']<0]

In [77]:
# Preenchendo os valores de idade que são negativos com a média das idades.

In [ ]:
dados_credito.mean()

In [ ]:
# Fazendo a média sem contar com os valores negativos.
dados_credito['idade'][dados_credito['idade']>0].mean()

In [80]:
dados_credito.loc[dados_credito['idade']<0, 'idade'] = 40.92

In [ ]:
dados_credito.loc[dados_credito['idade'] <0]

In [ ]:
dados_credito.head(27)

In [ ]:
# Verificando valores faltantes.
dados_credito.isnull().sum()

In [ ]:
dados_credito.loc[pd.isnull(dados_credito['idade'])]

In [86]:
# Preenchendo os valores faltantes com a média das idades.
dados_credito['idade'].fillna(dados_credito['idade'].mean(), inplace=True)

In [ ]:
dados_credito.loc[dados_credito['cliente'].isin([29,30,31])]

In [89]:
dados_credito

      cliente         renda      idade       divida  inadimplencia
0           1  66155.925095  59.017015  8106.532131              0
1           2  34415.153966  48.117153  6564.745018              0
2           3  57317.170063  63.108049  8020.953296              0
3           4  42709.534201  45.751972  6103.642260              0
4           5  66952.688845  18.584336  8770.099235              1
...       ...           ...        ...          ...            ...
1995     1996  59221.044874  48.518179  1926.729397              0
1996     1997  69516.127573  23.162104  3503.176156              0
1997     1998  44311.449262  28.017167  5522.786693              1
1998     1999  43756.056605  63.971796  1622.722598              0
1999     2000  69436.579552  56.152617  7378.833599              0

[2000 rows x 5 columns]