<a href="https://colab.research.google.com/github/Cris-0506/Cris-0506/blob/main/Regressao_credito.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Análise de regressão linear dos dados de crédito.

Base de dados retirada do Kaggle (www.kaggle.com/laotse/credit-risk-dataset)

In [12]:
import pandas as pd

In [13]:
import numpy as np

In [14]:
dados = pd.read_csv('/content/credit_data.csv', sep=',', encoding = 'iso-8859-1')

In [15]:
dados

      clientid        income        age         loan  default
0            1  66155.925095  59.017015  8106.532131        0
1            2  34415.153966  48.117153  6564.745018        0
2            3  57317.170063  63.108049  8020.953296        0
3            4  42709.534201  45.751972  6103.642260        0
4            5  66952.688845  18.584336  8770.099235        1
...        ...           ...        ...          ...      ...
1995      1996  59221.044874  48.518179  1926.729397        0
1996      1997  69516.127573  23.162104  3503.176156        0
1997      1998  44311.449262  28.017167  5522.786693        1
1998      1999  43756.056605  63.971796  1622.722598        0
1999      2000  69436.579552  56.152617  7378.833599        0

[2000 rows x 5 columns]

In [16]:
dados.shape

(2000, 5)

In [17]:
dados.dtypes

clientid      int64
income      float64
age         float64
loan        float64
default       int64
dtype: object

In [18]:
dados.describe()

          clientid        income          age          loan      default
count  2000.000000   2000.000000  1997.000000   2000.000000  2000.000000
mean   1000.500000  45331.600018    40.807559   4444.369695     0.141500
std     577.494589  14326.327119    13.624469   3045.410024     0.348624
min       1.000000  20014.489470   -52.423280      1.377630     0.000000
25%     500.750000  32796.459717    28.990415   1939.708847     0.000000
50%    1000.500000  45789.117313    41.317159   3974.719419     0.000000
75%    1500.250000  57791.281668    52.587040   6432.410625     0.000000
max    2000.000000  69995.685578    63.971796  13766.051239     1.000000

In [19]:
dados.isnull().sum()

clientid    0
income      0
age         3
loan        0
default     0
dtype: int64

In [20]:
dados.head()

   clientid        income        age         loan  default
0         1  66155.925095  59.017015  8106.532131        0
1         2  34415.153966  48.117153  6564.745018        0
2         3  57317.170063  63.108049  8020.953296        0
3         4  42709.534201  45.751972  6103.642260        0
4         5  66952.688845  18.584336  8770.099235        1

In [21]:
dados_credito = dados.rename (columns = {'clientid': 'cliente', 'income':'renda', 'age': 'idade', 'loan': 'divida', 'default': 'inadimplencia'})

In [22]:
dados_credito.head()

   cliente         renda      idade       divida  inadimplencia
0        1  66155.925095  59.017015  8106.532131              0
1        2  34415.153966  48.117153  6564.745018              0
2        3  57317.170063  63.108049  8020.953296              0
3        4  42709.534201  45.751972  6103.642260              0
4        5  66952.688845  18.584336  8770.099235              1

In [23]:
# Existem dados inconsistentes, como os dados relacionados à idade que são valores negativos.
dados_credito.describe()

           cliente         renda        idade        divida  inadimplencia
count  2000.000000   2000.000000  1997.000000   2000.000000    2000.000000
mean   1000.500000  45331.600018    40.807559   4444.369695       0.141500
std     577.494589  14326.327119    13.624469   3045.410024       0.348624
min       1.000000  20014.489470   -52.423280      1.377630       0.000000
25%     500.750000  32796.459717    28.990415   1939.708847       0.000000
50%    1000.500000  45789.117313    41.317159   3974.719419       0.000000
75%    1500.250000  57791.281668    52.587040   6432.410625       0.000000
max    2000.000000  69995.685578    63.971796  13766.051239       1.000000

In [24]:
dados_credito[dados_credito['idade']<0]

    cliente         renda      idade       divida  inadimplencia
15       16  50501.726689 -28.218361  3977.287432              0
21       22  32197.620701 -52.423280  4244.057136              0
26       27  63287.038908 -36.496976  9595.286289              0

In [25]:
# Preenchendo os valores de idade que são negativos com a média das idades.

In [26]:
dados_credito.mean()

cliente           1000.500000
renda            45331.600018
idade               40.807559
divida            4444.369695
inadimplencia        0.141500
dtype: float64

In [ ]:
# Fazendo a média sem contar com os valores negativos.
dados_credito['idade'][dados_credito['idade']>0].mean()

In [28]:
dados_credito.loc[dados_credito['idade']<0, 'idade'] = 40.92

In [ ]:
dados_credito.loc[dados_credito['idade'] <0]

In [ ]:
dados_credito.head(27)

In [ ]:
# Verificando valores faltantes.
dados_credito.isnull().sum()

In [ ]:
dados_credito.loc[pd.isnull(dados_credito['idade'])]

In [33]:
# Preenchendo os valores faltantes com a média das idades.
dados_credito['idade'].fillna(dados_credito['idade'].mean(), inplace=True)

In [ ]:
dados_credito.loc[dados_credito['cliente'].isin([29,30,31])]

In [ ]:
dados_credito

In [ ]:
# Separação dos dados previsores e da classe.

In [57]:
x_credito = dados_credito.iloc[:,1:4].values

In [ ]:
type(x_credito)

In [58]:
y_credito = dados_credito.iloc[:, 4].values

In [ ]:
type(y_credito)

In [60]:
#Padronizando os dados
from sklearn.preprocessing import StandardScaler
dados_padronizados = StandardScaler()
x_credito = dados_padronizados.fit_transform(x_credito)